body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #031e52, #2a5298, #271570);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    position: relative;
    top: -175px;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px; /* Aumentar o max-width para acomodar mais campos em uma linha */
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os elementos do formulário */
    justify-content: space-between; /* Distribuir os elementos ao longo da linha */
}

label {
    flex: 1 1 150px; /* Largura mínima dos labels */
    margin-bottom: 10px;
    font-weight: bold;
}

input, select {
    flex: 2 1 200px; /* Largura mínima dos inputs e selects */
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #509AF0;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #471AFF;
}

.return {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;

}

@media (min-width: 481px) and (max-width: 768px) {
    
    body {
        padding: 10px;
}

header {
        
    margin-bottom: 15px;
    top: -100px; /* Ajuste para reposicionar o header */
    
}

h1 {
        
    font-size: 1.8rem; /* Ajuste no tamanho da fonte */
    padding: 0;
    position: relative;
    top: -70px;       
        
}

.container {
    
    width: 85%; /* Ajuste na largura do container */
    padding: 15px; /* Ajuste no padding */
    max-width: 600px; /* Ajuste no max-width para acomodar os campos de forma mais compacta */
    
}

form {
        
    gap: 15px; /* Redução do espaçamento entre os elementos do formulário */
    justify-content: center; /* Centralizar os elementos no formulário */
}

label {
        
    flex: 1 1 120px; /* Ajuste na largura mínima dos labels */
}

input, select {
        flex: 2 1 180px; /* Ajuste na largura mínima dos inputs e selects */
}

button {
        font-size: 1.1rem; /* Ajuste no tamanho da fonte do botão */
        padding: 8px; /* Ajuste no padding do botão */
}

.return {

    font-size: 1.5rem; /* Ajuste no tamanho da fonte do botão de retorno */    
}

}