body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #031e52, #2a5298, #271570);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    position: relative;
    top: -175px;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px; /* Aumentar o max-width para acomodar mais campos em uma linha */
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os elementos do formulário */
    justify-content: space-between; /* Distribuir os elementos ao longo da linha */
}

label {
    flex: 1 1 150px; /* Largura mínima dos labels */
    margin-bottom: 10px;
    font-weight: bold;
}

input, select {
    flex: 2 1 200px; /* Largura mínima dos inputs e selects */
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    background-color: #509AF0;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #471AFF;
}

.return {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;

}
