body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #031e52, #2a5298, #271570);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    position: relative;
    top: -175px;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px; /* Aumentar o max-width para acomodar mais campos em uma linha */
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os elementos do formulário */
    justify-content: space-between; /* Distribuir os elementos ao longo da linha */
}

label {
    flex: 1 1 150px; /* Largura mínima dos labels */
    margin-bottom: 10px;
    font-weight: bold;
}

input, select {
    flex: 2 1 200px; /* Largura mínima dos inputs e selects */
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    background-color: #509AF0;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #471AFF;
}

.return {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;

}

/* Media Queries para dispositivos entre 320px e 480px */
@media (min-width: 320px) and (max-width: 480px) {
    header {
        margin-bottom: 10px;
        position: relative;
    }

    h1 {
        font-size: 1.6rem; /* Reduz o tamanho da fonte do título */
        top: 60px; /* Ajusta a posição para telas menores */
    }

    .container {
        padding: 15px;
        width: 85%; /* Garante que o container ocupe toda a largura disponível */
        max-width: 100%; /* Remove o max-width para permitir que o container se ajuste */
        position: relative;
        top: 130px;
    }

    form {
        flex-direction: column; /* Coloca todos os elementos do formulário em uma coluna */
        gap: 15px; /* Reduz o espaçamento entre os elementos */
    }

    label, input, select {
        flex: 1 1 100%; /* Faz com que cada elemento ocupe toda a largura disponível */
    }

    input, select {
        padding: 8px; /* Reduz o padding dos inputs e selects */
    }

    button {
        font-size: 0.9rem; /* Reduz o tamanho da fonte do botão */
        padding: 5px 10px; /* Aumenta o padding do botão para uma área de toque maior */
    }

    .return {
        font-size: 1.5rem; /* Ajusta o tamanho da fonte do botão "Voltar" */
        padding: 8px 15px; /* Reduz o padding para melhor ajuste em telas menores */
        top: 20px;
    }
}