body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #031e52, #2a5298, #271570);
    color: #ffffff;
}

header {
    margin-top: 10px;
    background-color: #0d2a4a;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 2px;
}

.container {
    padding: 20px;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2a5298;
    border-bottom: 2px solid #0d2a4a;
}

td {
    background-color: #1e3c72;
    border-bottom: 1px solid #0d2a4a;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: #fdfdfd;
    border-radius: 10px;
}

.estoque {

    text-align: center;
}

#export-excel, #clear-stock {

    position: relative;
    bottom: -369px;

}

button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #509AF0;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #471AFF;
}

.delete-button {
    padding: 5px 10px;
    background-color: #ff4c4c;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #ff0000;
}


/* Media Queries para dispositivos móveis entre 320px e 480px */
@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
        letter-spacing: 0.5px;
    }

    header {
        position: relative;
        top: 50px;
    }

    /* Gráfico de estoque */
    .container {
        position: relative;
        top: 50px;
    }

    /* Estilo da Tabela em Modo Vertical */
    table {
        display: block;
    }

    thead {
        display: none; /* Esconde os cabeçalhos da tabela no modo vertical */
    }

    tbody, tr {
        display: block;
    }

    tr {
        margin-bottom: 20px;
    }

    tr td {
        display: block;
        text-align: right;
        padding-left: 10px;
        position: relative;
    }


    td {
        border-bottom: 1px solid #0d2a4a;
        background-color: #1e3c72;
        padding: 8px;
    }

    h2 {
        font-size: 1.2em;
        position: relative;
        top: 20px;
    }

    canvas {
        max-width: 100%;
        height: auto;
        position: relative;
        top: 30px;
    }

    button {
        padding: 6px 10px;
        font-size: 0.8rem;
    }

    .return {
        position: relative;
        top: 20px;
    }

     /* Formulário de Edição */
     #edit-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding: 15px;
        background-color: #1e3c72;
        border-radius: 10px;
    }

    #edit-form {
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 15px; /* Espaçamento entre os elementos */
    }

    #edit-form label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    #edit-form input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        box-sizing: border-box;
    }

    
}