body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #031e52, #2a5298, #271570);
    color: #ffffff;
}

header {
    margin-top: 10px;
    background-color: #0d2a4a;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 2px;
}

.container {
    padding: 20px;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2a5298;
    border-bottom: 2px solid #0d2a4a;
}

td {
    background-color: #1e3c72;
    border-bottom: 1px solid #0d2a4a;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: #fdfdfd;
    border-radius: 10px;
}

.estoque {

    text-align: center;
}

#export-excel, #clear-stock {

    position: relative;
    bottom: -369px;

}

button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    background-color: #509AF0;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #471AFF;
}

@media (min-width: 481px) and (max-width: 768px) {

header {
    
    padding: 10px;
}

h1 {
    
    font-size: 2rem;
}

.container {
    
    padding: 10px;
}

table {
        
    font-size: 0.9rem;
}

th, td {
    
    padding: 8px;
}

h2 {
    
    margin-top: 20px;
    font-size: 1.5rem;
}

canvas {
    
    width: 100%; /* Ajusta o gráfico para a largura disponível */
    height: auto; /* Mantém a proporção do gráfico */
    max-width: 100%;
    
}

.estoque {
        
    text-align: center;
    padding: 10px 0;
}

#export-excel, #clear-stock {
        
    bottom: -200px;
    margin-top: 15px;
}

button {
        
    padding: 8px;
    font-size: 0.9rem;
    margin-left: 5px;
}

}





