body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    text-align: center;
    background: linear-gradient(to right, #031e52, #2a5298, #271570); /* Fundo com gradiente fosco */
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    flex-wrap: wrap; 
}

.color_flow {

    color: #FFA1DF;
}

.cadastro_button {

    font-weight: bold;
}

header h1 {
    margin: 0;
    font-size: 2em;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;
    font-weight: bold;
}

.btn:hover {background-color: #0069d9}


.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #0069d9;
    position: relative;
    bottom: 7px;
}

.btn:hover {background-color: #0069d9}

.btn:active {
    background-color: #0069d9;
    box-shadow: 0 2px #0069d9;
    transform: translateY(2px);
}

nav ul {
    list-style: none;
    margin: 0;
    padding:0;
    top: 5px;
    display: flex;
    gap: 130px;
    position: relative;
    right: 100px;
}


nav a {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 20px;
}

main h2 {
    font-size: 2.5em;
    margin-top: 90px;
}

.illustration {
    height: 80%;
    margin-top: 50px;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.cursor {
    display: inline-block;
    margin-left: 5px;
    background-color: #ffffff;
    width: 2px;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        background-color: transparent;
    }
    50% {
        background-color: #FFFFFF;
    }
}

.word-red {
    color: #FFA1DF;
}

.word-blue {
    color: #FFA1DF;
}

.word-green {
    color: #FFA1DF;
}

